body{
    background-image: url(../images/background.png);
}
.header{
    background-color: darkorange;
    color: white;
}
.rules{
    color: green;
    background-color: Wheat;
}
.randomNum{
    background-color: green;
}
.winlosses{
    background-color: aqua;
}
#userTotalHeader{
    background-color: blueviolet;
    font-size: 18px;
}
#userTotal{
    background-color: blueviolet;
    font-size: 36px;
}
.userTotalDiv{
    background-color: blueviolet;
}
#randomNumberValue{
    font-size: 36px;
}
